.view_media_h1 {
    margin: 110px 0 40px 0;
}
.view_media_h1 h1 {
    margin: auto;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgba(74, 74, 74, 1);
    background-color: #ffffff30;
    width: fit-content;
    padding: 8px 10px 2px 10px;
    border-radius: 10px 10px 0 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -13px;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.view_media .view-card h5 {
    font-weight: 600;
    margin-top: 20px;
    /* color: rgba(151, 151, 151, 0.201); */
    color: rgba(141, 141, 141, 1);
}

/* .view_media .view-card h6 {
    font-weight: 600;
    margin-top: 20px;
    color: rgba(255,255,255,0.5);
} */
/* .view_media .card h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
} */

.view_media .view-card a{
    text-decoration: none;
}

.view_media .card .card-body p {
    text-decoration: none;
    /* display: inline; */
    /* width: 50%; */
    display: flex;
    float: right;
    color: #494a4a;
    transition: .3s;
}
.view_media .card .card-body .card-title {
    color: #494a4a;
    font-size: 18px;
}
.view_media .card .card-body .rate_hv {
    padding-top: 15px;
    margin-right: -40px;
    transition: .3s;
}
.view_media .card .card-body .price_ab {
    position: absolute;
    left: 12px;
    bottom: 15px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    transform: translateY(10px);
    transition: .3s;
}
.view_media .card .card-body .price_ab::after {
    content: "";
    position: absolute;
    left: -12px;
    bottom: -15px;
    background-color: #fff;
    width: 75px;
    height: 50px;
    z-index: -1;
    border-radius: 0px 10px 0px 10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-image: linear-gradient(45deg, #2d2d2f 40%, #434851 60%);
    transition: .3s;
}
.view_media .card .card-body .price_ab div{
    padding-top: 20px;
    position: absolute;
    top: -46px;
    display: inline-flex;
}
.view_media .card .card-body .price_ab p{
    padding-right: 4px;
    text-decoration: line-through;
    color: #fff;
}

.view_media .card span {
    display: none;
}
.view_media .card .card-body {
    padding: 15px 2px 0px 0px !important;
    overflow: hidden;
}

.search-bar {
    position: relative;
}
span.search_icon {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 20px;
    color: #8d778c;
}
.filter-toggler {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.filter-toggler p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 8px;
    padding-left: 5px;
    color: #434851;
}

/* --------------------------------------------------------------------------------------- */

.view_media .view-card .card:hover .card-body .price_ab::after {
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 60%);
    transition: .3s;
}
.view_media .view-card .card:hover .card-body .price_ab {
    left: 12px;
    bottom: 12px;
    transform: translateY(0px);
    transition: .3s;
}
.view_media .view-card .card:hover .card-body .rate_hv {
    margin-right: -10px;
    color: #494a4a;
    transition: .3s;
}
.view_media .view-card .card:hover {
    background-color: rgba(255,255,255,1) !important;
    transform: translateY(6px) scale(1.05);
    transition: .3s;
}
.view_media .view-card .card:hover img {
    object-fit: cover;
    object-position: center;
    transform: scale(1.15) translateX(10px);
    transition: .5s;
}

/* --------------------------------------------------------------------------------------- */

.view_media .view-card .card {
    /* border: 1px solid hsl(35, 88%, 52%) !important; */
    /* box-shadow: 0px 0px 10px -2px #FF512F; */
    padding: 10px;
    border-radius: 10px 10px 0px 10px !important;
    box-shadow: 3px 3px 15px -4px #46466f;
    margin: 20px 0;
    background-color: rgba(255,255,255,0.5) !important;
    transition: .3s;
}
.view_media .view-card .card .wrap_cardimg {
    overflow: hidden;
    border-radius: 8px;
    transition: .5s;
}
.view_media .view-card .card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    transition: .5s;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.view_media .view-card.grid-view .card {
    /* border: 1px solid hsl(35, 88%, 52%) !important; */
    /* box-shadow: 0px 0px 10px -2px #FF512F; */
    padding: 10px;
    border-radius: 10px 10px 0px 10px !important;
    box-shadow: 3px 3px 15px -4px #46466f;
    margin: 20px 0;
    background-color: rgba(255,255,255,0.5) !important;
}
.view_media .view-card.grid-view .card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.view_media .view-card.list-view .price_ab div{
    top: -20px;
    right: 62px;
    color: #000;
}
.view_media .view-card.list-view .card span {
    display: inline;
}
.view_media .view-card.list-view a{
    text-decoration: none;
    display: flex;
}
.view_media .view-card.list-view .card-title {
    display: inline;
    margin: 0 30px 0 20px;
    float: left;
}
.view_media .view-card.list-view .card .card-body {
    padding: 17px !important;
}
.view_media .view-card.list-view .card p {
    text-decoration: none;
    display: inline;
    margin: 0 20px;
    float: left;
    padding-top: 0px;
}
.view_media .view-card.list-view .card .card-body .price_ab {
    left: initial;
    bottom: initial;
    right: 0;
    color: #494a4a;;
    transform: translateY(0px);
    transition: .3s;
}
.view_media .view-card.list-view .card .card-body .price_ab p {
    text-decoration: line-through;
    color: #000;
}
.view_media .view-card.list-view .card .card-body .price_ab::after {
    left: auto;
    right: 0;
    bottom: -10px;
    background-color: #fff;
    width: 50px;
    height: 40px;
    border-radius: 10px 10px 0px 10px;
}
.view_media .view-card.list-view .card .card-body .price_ab span {
    color: #fff;
    margin-right: 5px;
    margin-left: 15px;
}
.view_media .view-card.list-view .card .card-body .rate_hv {
    transition: .3s;
    display: flex;
    font-weight: 600;
    font-size: 16px;
}
.view_media .view-card.list-view .card {
    /* border: 1px solid hsl(35, 88%, 52%) !important;
    box-shadow: 0px 0px 10px -2px #FF512F; */
    padding: 8px;
    border-radius: 8px !important;
    box-shadow: 3px 3px 15px -4px #46466f;
    margin: 20px 0px 0px 0px;
    background-color: rgba(255,255,255,0.8) !important;
}
.view_media .view-card.list-view .card img {
    width: 130px;
    height: 60px;
    /* max-height: 100%; */
    object-fit: cover;
    object-position: center;
    object-position: center;
    border-radius: 6px;
}


@media (min-width: 992px){
    .view_media .view-card.list-view .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}
@media (min-width: 768px){
    .view_media .view-card.list-view .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}
@media (min-width: 576px){
    .view_media .view-card.list-view .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
.view_media .view-card.list-view .col-12 {
    flex: 0 0 auto;
    width: 100%;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.view_media input, .view_media select {
    background-color: #fff;
    margin: 5px 8px 25px 8px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #8d778c;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding: 5px 10px;
}
.view_media input:focus, .view_media select:focus {
    outline: 0;
    border-bottom-color: #000;
}
.view_media input:valid, .view_media select:valid {
    outline: 0;
}
.view_media input::placeholder {
    color: #8d778c;
    font-size: 15px;
}
.view_media input[type=submit] {
    margin-bottom: 0px;
    background-color: #8f99b2;
    padding: 6px;
    background: linear-gradient(90deg, rgba(115, 122, 142, 0.5) 0%, rgba(110, 69, 105, 0.5) 100%);
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.view_media input[type=checkbox], .view_media input[type=radio] {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    cursor: pointer;
    accent-color: #fff;
}
.view_media .checkbox-group label,
.view_media .radio-group label {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    font-size: 15px;
    user-select: none;
    user-select: none;
    font-weight: 600;
    font-family: system-ui;
    color: #494a4a;
    transform: translateY(-4px);
}
.view_media input[type=checkbox]:hover+label,
.view_media input[type=radio]:hover+label {
    color: #000;
}

.view_media input[type=range]{
    accent-color: #434851;
}


.view_media .btn-ico {
    background: #fff;
    backface-visibility: hidden;
    border: 2px solid transparent;
    border-radius: 50%;
    /* color: rgba(255,255,255,0.2); */
    /* color: rgba(141, 141, 141, 1); */
    color: rgb(26, 26, 26);
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    line-height: 15px;
    width: 45px;
    height: 45px;
    position: relative;
    transform: scale(1);
    transition: .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* transform: translateY(5px); */
}
.view_media .btn-ico:hover {
    border: 2px solid #fff;
    color: #fff;
    background: #000;
    transition: .3s;
}
.view_media .btn-ico:active {
    transform: scale(0.95);
    transition: .3s;
}


@media (max-width: 768px) {
    
}